* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer {
    width: 100%;
}

.menu { 
    text-align: center;
    border-bottom: 6px solid #ff0000;
    background-color: #000;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 20px 100px; 
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 16px;
    font-size: 18px;
}

.menu a:hover {
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border-bottom: 10px solid #ff0000;
}

.image-content {
    background-image: url(/midia/ny_vista_noite.jpg);
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

h1 {
    font-weight: 900 bold;
    border-bottom: 6px solid #fff;
    border-top: 6px solid #fff;
    letter-spacing: 2px;
    font-size: 75px;
    font-family: 'Montserrat', 'Sans-serif';
    padding: 3px;
}

.image-h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 20px;
    background-color: #faebd7;
    color: #000;
}

.title {
        text-align: center;
        margin: 40px 0;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 40px;
}

p {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: Montserrat, Arial, sans-serif;
    text-align: justify;
    line-height: 27px;
}

.container-culture {
    background-color: #e4cdaf;
    padding-bottom: 10px;
    margin-left: 18px;
    margin-right: 15px;
}

.container-entreteniment {
    background-color: #f1d1a7;
    padding-bottom: 10px;
    margin-left: 18px;
    margin-right: 15px;
}

.container-shopping {
    background-color: #d8c6ae;
    padding-bottom: 10px;
    margin-left: 18px;
    margin-right: 15px;
}

.container-food {
    background-color: #d6b58a;
    padding-bottom: 10px;
    margin-left: 18px;
    margin-right: 15px;
}

div .culture-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div .culture-2 {
    display: flex;
    margin-top: 60px;
  }

.container {
    margin-right: 20px;
    margin-left: 15px;
}

.places, 
.shopping  {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.culture-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entreteniment {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

.img-culture {
    width: 100%;
    height: 500px;
    overflow: hidden;
}   

.img-culture img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img-history img {
    height: 100%;
    width: 290px;
    object-fit: cover;
}

.img-shopping {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: 35px;
}

.img-shopping img {
    width: 450px;
    height: 300px;
    margin-top: 40px;
}

.food-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.food {
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    margin: 20px 25px;
    text-decoration: underline;
}

.food a {
    color: #000;
    text-decoration: none;
}

.food a:hover {
    color: #837159;
    cursor: pointer; 
}

.food a:active {
    color:#000;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

.food-option {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
}

.restaurant {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
}

.food-restaurants {
    display: flex;
    align-items: center;
    margin-bottom: 25px;  
}

.food-recomendation {
    flex-direction: column;
    padding: 15px;
}

span {
    font-weight: bold;
}

.img-food img {
    width: 800px;
}

footer {
    background-color: hsl(0, 0%, 0%);
    color: #faebd7;
    border-top: 4px solid #ff0000;
    padding-bottom: 3px;
}